/* Reset wszystkich domyślnych stylów */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", "Roboto", sans-serif !important;
  color: #2b2b2b !important; /*Ustawienie koloru tekstu*/
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1;
  font-size: 100%;
  font-family: sans-serif;
  background: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
/* Reset wszystkich domyślnych stylów */
